<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Stock Price Prediction Engine</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">

    {% load static %}

    <!-- Bootstrap core CSS -->

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="https://appsrv1-147a1.kxcdn.com/sb-admin/css/styles.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .collapsible {
            /*background-color: #777;*/
            color: white;
            cursor: pointer;
            padding: 18px;
            /*width: 100%;*/
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .content {
            /*padding: 0 18px;*/
            max-height: 0;
            max-width: 30%;
            overflow: hidden;
            /*transition: max-height 0.2s ease-out;*/
            /*background-color: #f1f1f1;*/
        }
        .content-va {
            padding: 0 18px;
            max-height: 0;
            max-width: 70%;
            overflow: hidden;
            /*transition: max-height 0.2s ease-out;*/
            /*background-color: #f1f1f1;*/
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/static">Stock Price Prediction Engine</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Value investing by Technicals</h1>
            </div>



            <div class="table-responsive">
                <img src="{% static 'images/value_investing_image.png' %}" alt="VI Image" width="800" height="400">
                <br/>
                <br/>
                <button type="button" class="btn btn-primary collapsible" aria-expanded="false">Show Top Stocks Using Value Investing Model</button>
                <div class="content">
                    {{ value_ta_pe | safe }}
                </div>
                <br/>
                <button type="button" class="btn btn-primary collapsible" aria-expanded="false">Show Analyst Trading for the Top Value Investing Stocks</button>
                <div class="content-va">
                    {{ analyst_rating_table | safe }}
                </div>
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>

        </main>

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/show_dashboard">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show_stock_prediction">
                            <span data-feather="codesandbox"></span>
                            Stock Price Prediction Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show_stock_sentiment">
                            <span data-feather="compass"></span>
                            Stock Sentiment Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/stock_news_analytics" class="nav-link">
                            <span data-feather="command"></span>
                            Financial News Stock Sentiment Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/value_investing_ta" class="nav-link">
                            <span data-feather="cpu"></span>
                            Value Investing Analytics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/stock_ta_analysis" class="nav-link">
                            <span data-feather="dollar-sign"></span>
                            Stock Technical Analytics
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/feather.min.js' %}"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

</body>
</html>
